body {
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: #333;
}

.playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    margin-top: 40px;
    padding: 12px 12px;
    width: 1000px;
    height: 80px;
    border: 1px solid black;
    border-radius: 15px;
    background: #666666;
}

.fotoPlaylist {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.botonDesplegar {
    background-color:transparent;
    border-style: inset;
    border-color: transparent;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.botonDesplegar:hover {
    background-color: #999;
}

.botonDesplegar:active {
    background-color: #FFF;
}

.flecha {
    margin-top: 5px;
    margin-left: 2px;
}

nav {
    background-color: rgb(24, 24, 24);
    margin-top: 10px;
    margin-inline: -10px;
    border-style:solid;
    border-color: #111;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 60px;
    height: 60px;
}

#logo-titulo {
    display: flex;
    align-items: center;
}

nav h1 {
    color: white;
    font-size: 30px;
    margin-left: 30px;
}

nav ul {
    list-style-type: none; 
    display: flex;
    margin-left: 400px;
}

nav ul li {
    margin-left: 30px;
}

.botonNav {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.botonNav:hover {
    background-color: #555;
    border-radius: 5px;
}