body {
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: #333;
}

.playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    margin-top: 40px;
    padding: 12px 12px;
    width: 1000px;
    height: 80px;
    border: 1px solid black;
    border-radius: 15px;
    background: #666666;
}

.playlist img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.cancion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    margin-top: 40px;
    padding: 12px 12px;
    width: 1000px;
    height: 80px;
    border: 1px solid white;
    border-radius: 15px;
    background: #666666;
}

.botonDesplegar {
    position: relative;
    background-color:transparent;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.botonDesplegar label input[type=checkbox] {
    display: none;
    position: absolute;
    width: 45px;
    height: 52px;
    left:-4px;
    top:-5px;
    clip-path: circle(47% at 50% 50%);
}

.botonDesplegar label input[type=checkbox] + svg {
    transition-duration: 0.2s;
    transition-property: transform;
    transform: rotate(270deg);
}

.botonDesplegar label input[type=checkbox]:checked + svg {
    transition-duration: 0.2s;
    transition-property: transform;
    transform: rotate(360deg);
}

.botonDesplegar:hover {
    background-color: #999;
}

.botonDesplegar:active {
    background-color: #FFF;
}

.botonDesplegar svg {
    padding: 4px 6px 4px 6px;
    margin-top: 4px;
    margin-left: 3px;
}

nav {
    background-color: rgb(24, 24, 24);
    margin-top: 10px;
    margin-inline: -8px;
    border-style:solid;
    border-color: #111;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoTitulo {
    display: flex;
    align-items: center;
}

#logoTitulo img {
    width: 60px;
    height: 60px;
}

nav h1 {
    color: white;
    font-size: 30px;
    margin-left: 30px;
}

nav ul {
    list-style-type: none; 
    display: flex;
    margin-left: 400px;
}

nav ul li {
    margin-left: 30px;
}

.botonNav {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.botonNav:hover {
    background-color: #555;
    border-radius: 5px;
}
